* {
	box-sizing: border-box;
}
html, body {
	font-family: 'Pinyon Script', 'Arial', sans-serif;
	font-size: 24px;
	background-color: #00031F;
}
body {
	margin: 30px;
}
header {
	display: flex;
}
header > button {
	background-color: transparent;
	padding: 0;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: white;
	color: #F3CD05;
	font-weight: bolder;
	cursor: pointer;
}
header > button > a {
	text-decoration: none;
	color: inherit;
	margin: 0;
	padding: 10px 20px;
	display: block;
}
#titlu > a {
	padding: 10px 20px;
}
#cos > a {
	padding: 33px 20px;
}
header > button:hover {
	background-color: rgba(108, 107, 116, 0.9);
	color: #D8D583;
}
#titlu {
	width: 50%;
	font-size: 60px;
	font-family: 'Pinyon Script', cursive;
}
#cos, #spatiu {
	width: 25%;
	font-size: 24px;
	font-family: 'Arial';
}
main {
	margin-top: 20px;
	background-color: white;
	font-family: 'Arial';
	padding: 10px;
}
#antet {
	display: flex;
}
#antet > h2 {
	width: 50%;
	text-align: left;
	margin-top: 0;
}
#antet > span {
	width: 50%;
}
#antet > span > button {
	background-color: #29abdf;
	color: white;
	font-size: 18px;
	padding: 9px 14px;
	font-weight: bolder;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
#antet > span > button:hover {
	background-color: #0444BF;
}
table {
	width: 100%;
	display: table;
    border: 1px solid #6ECBF6;
    border-radius: 10px;
    color: #0486DB;
}
th, td {
	text-align: left;
	width: auto;
}
th {
	background-color: #dbeef2;
}
tbody button {
	font-size: 14px;
	background: #C4D2F5;
	cursor: pointer;
}
tbody button:hover {
	background: #0444BF;
	color: white;
}
form > span {
	display: flex;
}
form > span > legend {
	width: 60%;
	font-size: 32px;
	text-align: left;
}
form > span > input {
	width: 20%;
	margin: 5px 20px;
}
form > label > input {
	font-size: 24px;
}
.loadingGif {
	font-weight: bolder;
}
.eroare {
	color: red;
}

/* "Column Drop" Responsive Pattern */
@media screen and (max-width: 480px) {
	header {
		flex-wrap: wrap;
	}
	#titlu {
		order: 1;
		width: 100%;
		border: 0;
		font-size: 35px;
		text-align: left;
	}
	#cos {
		order: 3;
		width: 60%;
		font-size: 14px;
	}
	#spatiu {
		order: 2;
		width: 40%;
		font-size: 14px;
	}
	#cos > a {
		padding: 10px 20px;
	}
}
@media screen and (min-width: 481px) and (max-width: 710px) {
	header {
		flex-wrap: wrap;
	}
	#titlu {
		order: 1;
		width: 100%;
		border: 0;
		font-size: 37px;
		text-align: left;
	}
	#cos {
		order: 3;
		width: 50%;
		font-size: 18px;
	}
	#spatiu {
		order: 2;
		width: 50%;
		font-size: 18px;
	}
	#cos > a {
		padding: 10px 20px;
	}
}
@media screen and (min-width: 711px) and (max-width: 1130px) {
	#titlu {
		order: 1;
		width: 50%;
		border: 0;
		font-size: 37px;
		text-align: left;
	}
	#spatiu {
		order: 2;
		width: 0%;
	}
	#cos {
		order: 3;
		width: 50%;
		font-size: 20px;
	}
	#cos > a {
		padding: 21px 20px;
	}
}