* {
	box-sizing: border-box;
}
html, body {
	font-family: 'Pinyon Script', 'Arial', sans-serif;
	font-size: 24px;
	background-color: #00031F;
}
body {
	margin: 30px;
}
header {
	display: flex;
}
header > button {
	background-color: transparent;
	padding: 0;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: white;
	color: #F3CD05;
	font-weight: bolder;
	cursor: pointer;
}
header > button > a {
	text-decoration: none;
	color: inherit;
	margin: 0;
	padding: 10px 20px;
	display: block;
}
#titlu > a {
	padding: 10px 20px;
}
#cos > a {
	padding: 33px 20px;
}
header > button:hover {
	background-color: rgba(108, 107, 116, 0.9);
	color: #D8D583;
}
#titlu {
	width: 50%;
	font-size: 60px;
	font-family: 'Pinyon Script', cursive;
}
#cos, #spatiu {
	width: 25%;
	font-size: 24px;
	font-family: 'Arial';
}
main {
	margin-top: 20px;
	background-color: white;
	font-family: 'Arial';
	padding: 10px;
}
#antet {
	display: flex;
	margin: 5px 0 10px 0;
}
#antet > h2 {
	width: 50%;
	text-align: left;
	margin: 0;	
}
#antet > span {
	width: 50%;
}
#antet > span > button {
	background-color: #29ABDF;
	color: white;
	font-size: 18px;
	padding: 9px 14px;
	font-weight: bolder;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
#antet > span > button:hover {
	background-color: #0444BF;
}
table {
	width: 100%;
	display: table;
    border: 1px solid #6ECBF6;
    border-radius: 10px;
    color: #0486DB;
}
th, td {
	text-align: left;
	width: auto;
}
th {
	background-color: #DBEEF2;
}
tbody button {
	font-size: 14px;
	background: #C4D2F5;
	cursor: pointer;
	padding: 2px 10px;
}
tbody button:hover {
	background: #0444BF;
	color: white;
}
form {
	width: 75%;
	margin: 0 auto;
	border: 1px solid #6ECBF6;
	border-radius: 10px;
	padding: 10px;
	color: #0486DB;
	background-color: #E9E3F4;
}
form > span {
	display: flex;
}
form > span > legend {
	width: 60%;
	font-size: 32px;
	text-align: left;
}
form > span > input {
	width: 20%;
	color: white;
	font-size: 18px;
	padding: 9px 14px;
	font-weight: bolder;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
form > span > input[type="submit"] {
	background-color: #29ABDF;
}
form > span > input[type="submit"]:hover {
	background: #0444BF;
}
form > span > input[type="button"] {
	background-color: #888;
}
form > span > input[type="button"]:hover {
	background: #04A85C;
}
form > label {
	display: inline-block;
	text-align: right;
	width: 100%;
	margin: 10px 0;
}
form > label > span {
	vertical-align: top;
}
form > label > input {
	font-size: 24px;
	margin-left: 20px;
	width: 80%;
}
form > label > textarea {
	font-size: 24px;
	margin-left: 20px;
	width: 80%;
}
.loadingGif {
	font-weight: bolder;
}
.eroare {
	color: red;
}

/* "Column Drop" Responsive Pattern */
@media screen and (max-width: 480px) {
	header {
		flex-wrap: wrap;
	}
	#titlu {
		order: 1;
		width: 100%;
		border: 0;
		font-size: 35px;
		text-align: left;
	}
	#cos {
		order: 3;
		width: 60%;
		font-size: 14px;
	}
	#spatiu {
		order: 2;
		width: 40%;
		font-size: 14px;
	}
	#cos > a {
		padding: 10px 20px;
	}
}
@media screen and (min-width: 481px) and (max-width: 710px) {
	header {
		flex-wrap: wrap;
	}
	#titlu {
		order: 1;
		width: 100%;
		border: 0;
		font-size: 37px;
		text-align: left;
	}
	#cos {
		order: 3;
		width: 50%;
		font-size: 18px;
	}
	#spatiu {
		order: 2;
		width: 50%;
		font-size: 18px;
	}
	#cos > a {
		padding: 10px 20px;
	}
}
@media screen and (min-width: 711px) and (max-width: 1130px) {
	#titlu {
		order: 1;
		width: 50%;
		border: 0;
		font-size: 37px;
		text-align: left;
	}
	#spatiu {
		order: 2;
		width: 0%;
	}
	#cos {
		order: 3;
		width: 50%;
		font-size: 20px;
	}
	#cos > a {
		padding: 21px 20px;
	}
}

/* Ajax Table Responsiveness */
@media screen and (max-width: 580px) {
	#antet {
		display: block;
		flex-wrap: wrap;
		font-size: 14px;
	}
	#antet > h2 {
		margin-bottom: 5px;
	}
	table {
		font-size: 16px;
		width: 100%;
		display: block;
		overflow: auto;
	}
	#produse table tr td:nth-child(4) {
		text-align: center;
	}
}
@media screen and (min-width: 581px) and (max-width: 920px) {
	#antet {
		font-size: 18px;
	}
	table {
		font-size: 20px;
	}
	#produse table tr td:nth-child(4) {
		text-align: center;
	}
}

/* Ajax Form Responsiveness */
@media screen and (max-width: 414px) {
	form {
		width: 100%;
		resize: vertical;
	}
	form > span {
		flex-wrap: wrap;
	}
	form > span > legend {
		width: 100%;
		font-size: 24px;
	}
	form > span > input {
		width: 50%;
		font-size: 16px;
	}
	form > label {
		font-size: 16px;
		overflow: auto;
	}
	form > label > input {
		width: 100%;
	}
	form > label > textarea {
		width: 100%;
	}
}
@media screen and (min-width: 415px) and (max-width: 600px) {
	form {
		width: 100%;
		resize: vertical;
	}
	form > span {
		flex-wrap: wrap;
	}
	form > span > legend {
		width: 100%;
		font-size: 24px;
	}
	form > span > input {
		width: 50%;
		font-size: 16px;
	}
	form > label {
		font-size: 16px;
		overflow: auto;
	}
	form > label > input {
		width: 69%;
	}
	form > label > textarea {
		width: 69%;
	}
}
@media screen and (min-width: 601px) and (max-width: 1150px) {
	form {
		width: 100%;
	}
	form > label > input {
		width: 70%;
	}
	form > label > textarea {
		width: 70%;
	}
}
@media screen and (min-width: 1151px) and (max-width: 1250px) {
	form {
		width: 85%;
	}
}
