* {
	box-sizing: border-box;
}
html, body {
	font-family: 'Pinyon Script', 'Arial', sans-serif;
	font-size: 24px;
	background: url(../img/wallpaperCos.jpg) no-repeat fixed;
	-webkit-background-size: cover; /* safari5.1+,chrome10+ */
	-moz-background-size: cover; /* ff3.6+ */
	-ms-background-size: cover; /* ie10+ */
	-o-background-size: cover; /* opera 11.10+ */
	background-size: cover; /* w3c */
	height: 100%;
}
body {
	margin: 30px;
	background-color: transparent;
}
header {
	display: flex;
}
header > button {
	background-color: transparent;
	padding: 0;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: white;
	color: #F3CD05;
	font-weight: bolder;
	cursor: pointer;
}
header > button > a {
	text-decoration: none;
	color: inherit;
	margin: 0;
	display: block;
}
#titlu > a {
	padding: 10px 20px;
}
#cos > a {
	padding: 33px 20px;
}
header > button:hover {
	background-color: rgba(108, 107, 116, 0.9);
	color: #D8D583;
}
#titlu {
	width: 50%;
	font-size: 60px;
	font-family: 'Pinyon Script', cursive;
}
#cos, #spatiu {
	width: 25%;
	font-size: 24px;
	font-family: 'Arial';
}
main {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	font-family: 'Arial';
	padding: 10px;
}
#infoCos {
	display: flex;
}
table {
	width: 75%;
	display: table;
    border: 1px solid #167F92;
    border-radius: 10px;
    color: #024457;
}
th, td {
	text-align: left;
	width: auto;
}
th {
	border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 2px;
}
tbody button {
	font-size: 14px;
	background: #C4D2F5;
	cursor: pointer;
}
tbody button:hover {
	background: #04A85C;
}
#totalProduse {
	width: 25%;
}
#totalProduse > button {
	background-color: #888;
	color: white;
	font-size: 18px;
	padding: 9px 14px;
	font-weight: bolder;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	margin-left: auto;
    margin-right: auto;
    border: 3px solid #00A63F;
}
#totalProduse > button:hover {
	color: #FFF;
    background: #34762F;
    border-color: #34762F;
}
#totalAjax > p {
	margin-top: 0;
	text-align: center;
}

/* "Column Drop" Responsive Pattern */
@media screen and (max-width: 480px) {
	header {
		flex-wrap: wrap;
	}
	#titlu {
		order: 1;
		width: 100%;
		border: 0;
		font-size: 35px;
		text-align: left;
	}
	#cos {
		order: 3;
		width: 60%;
		font-size: 14px;
	}
	#spatiu {
		order: 2;
		width: 40%;
		font-size: 14px;
	}
	#infoCos {
		flex-wrap: wrap;
	}
	#cos > a {
		padding: 10px 20px;
	}
	h3 {
		font-size: 20px;
	}
	table {
		width: 100%;
		font-size: 18px;
	}
}
@media screen and (min-width: 481px) and (max-width: 710px) {
	header {
		flex-wrap: wrap;
	}
	#titlu {
		order: 1;
		width: 100%;
		border: 0;
		font-size: 37px;
		text-align: left;
	}
	#cos {
		order: 3;
		width: 55%;
		font-size: 18px;
	}
	#spatiu {
		order: 2;
		width: 45%;
		font-size: 18px;
	}
	#cos > a {
		padding: 10px 20px;
	}
}
@media screen and (min-width: 711px) and (max-width: 1130px) {
	#titlu {
		order: 1;
		width: 50%;
		border: 0;
		font-size: 37px;
		text-align: left;
	}
	#spatiu {
		order: 2;
		width: 0%;
	}
	#cos {
		order: 3;
		width: 50%;
		font-size: 20px;
	}
	#cos > a {
		padding: 21px 20px;
	}
}

/* Table Responsiveness */
@media screen and (min-width: 641px) and (max-width: 1000px) {
	#infoCos {
		flex-wrap: wrap;
	}
	table {
		width: 100%;
	}
	#totalProduse {
		width: 100%;
	}
	main {
		font-size: 20px;
	}
	body {
		margin: 20px;
	}
}
@media screen and (min-width: 565px) and (max-width: 640px) {
	#infoCos {
		flex-wrap: wrap;
	}
	table {
		width: 100%;
	}
	#totalProduse {
		width: 100%;
	}
	main {
		font-size: 18px;
	}
	body {
		margin: 10px;
	}
}
@media screen and (max-width: 564px) {
	#infoCos {
		flex-wrap: wrap;
	}
	table {
		width: 100%;
		display: block;
		overflow: auto;
	}
	#totalProduse {
		width: 100%;
	}
	main {
		font-size: 17px;
	}
	body {
		margin: 10px;
	}
}