* {
	box-sizing: border-box;
}
html, body {
	font-family: 'Pinyon Script', 'Parisienne',  'Arial', sans-serif;
	font-size: 24px;
	background: url(../img/wallpaper.jpg) no-repeat fixed;
	-webkit-background-size: cover; /* safari5.1+,chrome10+ */
	-moz-background-size: cover; /* ff3.6+ */
	-ms-background-size: cover; /* ie10+ */
	-o-background-size: cover; /* opera 11.10+ */
	background-size: cover; /* w3c */
}
body {
	margin: 30px;
	background-color: transparent;
}
header {
	display: flex;
}
header > button {
	background-color: transparent;
	padding: 10px 20px;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: white;
	color: #F3CD05;
	font-weight: bolder;
	cursor: pointer;
}
header > button > a {
	text-decoration: none;
	color: inherit;
}
header > button:hover {
	background-color: rgba(108, 107, 116, 0.9);;
	color: #D8D583;
}
#titlu {
	width: 50%;
	font-size: 63px;
	font-family: 'Pinyon Script', cursive;
}
#cos, #admin {
	width: 25%;
	font-size: 24px;
	font-family: 'Arial';
}
main {
	font-family: 'Arial';
	margin-top: 10px;
}
#carusel {
	border: 15px solid white;
}
#produse {
	background-color: white;
	padding: 15px 5px 15px 15px;
	display: flex;
	flex-wrap: wrap;
}
.articolComercial {
	width: 24.3%;
	border: 1px solid #888;
	margin: 0 10px 10px 0;
}
.articolComercial > img {
	max-width: 350px;
	max-height: 250px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
.articolComercial > h2, p {
	font-size: 24px;
	text-align: center;
}
.articolComercial > button {
	background-color: transparent;
	border: 0;
	display: block;
	margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
}
.articolComercial > button > a {
	background-color: #888;
	color: white;
	font-size: 18px;
	padding: 3px 14px;
	font-weight: bolder;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
}

/* "Column Drop" Responsive Pattern */
@media screen and (max-width: 480px) {
	header {
		flex-wrap: wrap;
	}
	#titlu {
		order: 1;
		width: 100%;
		border: 0;
		font-size: 35px;
		text-align: left;
	}
	#cos {
		order: 2;
		width: 50%;
		font-size: 14px;
	}
	#admin {
		order: 3;
		width: 50%;
		font-size: 14px;
	}
}
@media screen and (min-width: 481px) and (max-width: 700px) {
	header {
		flex-wrap: wrap;
	}
	#titlu {
		order: 1;
		width: 100%;
		border: 0;
		font-size: 37px;
		text-align: left;
	}
	#cos {
		order: 2;
		width: 50%;
		font-size: 18px;
	}
	#admin {
		order: 3;
		width: 50%;
		font-size: 18px;
	}
}
@media screen and (min-width: 701px) and (max-width: 1130px) {
	header {
		flex-wrap: wrap;
	}
	#titlu {
		order: 1;
		width: 100%;
		border: 0;
		font-size: 50px;
		text-align: left;
	}
	header > span {
		order: 2;
		width: 50%;
	}
	#cos {
		order: 3;
		width: 25%;
		font-size: 18px;
	}
	#admin {
		order: 4;
		width: 25%;
		font-size: 18px;
	}
}

/*Products List Responsive Settings*/
@media screen and (min-width: 1201px) and (max-width: 1530px) {
	.articolComercial {
		width: 24%;
	}
	.articolComercial > img {
		max-width: 250px;
	}
}
@media screen and (min-width: 1071px) and (max-width: 1200px) {
	.articolComercial {
		width: 32.3%;
	}
	.articolComercial > img {
		max-width: 200px;
	}
}
@media screen and (min-width: 851px) and (max-width: 1070px) {
	.articolComercial {
		width: 32%;
	}
	.articolComercial > img {
		max-width: 200px;
	}
	.articolComercial > h2, p {
		font-size: 18px;
	}
}
@media screen and (min-width: 651px) and (max-width: 850px) {
	.articolComercial {
		width: 31.5%;
	}
	.articolComercial > img {
		max-width: 150px;
	}
	.articolComercial > h2, p {
		font-size: 16px;
	}
}
@media screen and (min-width: 501px) and (max-width: 650px) {
	.articolComercial {
		width: 47.5%;
	}
	.articolComercial > img {
		max-width: 150px;
	}
	.articolComercial > h2, p {
		font-size: 16px;
	}
}
@media screen and (min-width: 331px) and (max-width: 500px) {
	.articolComercial {
		width: 100%;
	}
	.articolComercial > img {
		max-width: 200px;
	}
	.articolComercial > h2, p {
		font-size: 16px;
	}
}
@media screen and (max-width: 330px) {
	.articolComercial {
		width: 100%;
	}
	.articolComercial > img {
		max-width: 150px;
	}
	.articolComercial > h2, p {
		font-size: 16px;
	}
}